/.env/
/.vscode/
/app/__pycache__/
/app/.cache/
/app/*.pyc
/storage/database/*.db
/tests/.cache/
/storage/database/*.db

/tests/.cache/
/app/__pycache__/
/tests/__pycache__/
/test/file/*.txt
/.coverage
/**/*.pyc
/**/.DS_Store
/**/.cache
